body {
  background-color: black;
}

.jumbotron {
  background: url('../img/red-matrix-code-loop_vkowm2ame__F0000.png');
  background-repeat: no-repeat;
  background-size: 100%;

  color: #E6E6E6;
  font-family: 'Roboto Condensed', sans-serif;

  margin-bottom: 5%;
}

.form-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form-content {
  border: 1px solid #790F1C;
  border-radius: 15px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

label {
  color: #E6E6E6;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 20px;
  font-size: 20px;
}

input {
  border-radius: 15px;
  margin-right: 20px;
}

.btn-danger {
background-color: #790F1C;
border-color: #790F1C;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #790F1C;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
 }